<a href="https://colab.research.google.com/github/agamgupta2015/C-Programs/blob/master/pyhton_bootcamp_day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#taking input form the user
(int)(input())

12

12

In [2]:
#data types:- int float double string list dictionary
#int :- 1 2 3 4 5
# float:- 1.1 3.3456 
#string :- abcd xyc 1234xyz
#list : [1,2 3]
#dictionary: {1:2 , 3:4}

In [3]:
a=(int)(input())  # a is the available
print(a)
print(type(a))

13
13
<class 'int'>

In [4]:
print(1,2,3)
print(1,2,3,sep=",",end="!!")
print(1)

a=1
b=2
c=3
print(a,b,c,end="\n",sep=":")

1 2 3
1,2,3!!1
1:2:3

In [5]:
#variable 

#variable_name= assign_value
a=10  #integer variable
b=10.6 # float variable
c="hello world" #string variable
d=1,2,3,4   #list datatype

In [6]:
print(a)
print(b)
print(c)
print(d)

10
10.6
hello world
(1, 2, 3, 4)

In [7]:
multiple_word=10
var_1=10

In [8]:
a=10
a=a+3
print(a)

13

In [12]:
a1,a2,a3=range(3)

In [13]:
print(a1,a2,a3)
print(a1)
print(a2)

0 1 2
0
1

In [14]:
for i in range(3):
  print(i)

0
1
2

In [15]:
#strigs are sequences of characters!! anythong can be considered as a string
a="123xyz"
b="srk"
c='abcd'
d='''pqrst'''

print(a,b,c,d,sep="  ")
print(type(a))
print(type(b))
print(type(c))
print(type(d))

123xyz  srk  abcd  pqrst
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [16]:
a='''a bcd   
ajieo'''


#triple quotes work when the value of the variable is in multiple lines !! for the same line u can use single or dohble quotes
print(a)

a bcd
ajieo

In [17]:
'''
  this is a muliplt line 
  comment
'''

a=10
b=20      #select everything u want to comment and pressed ctrl+/
c=10


print(a)
print(b)
print(c) #hey this a multiple line edit using alt in keyboard

10
20
10

In [18]:
"abcde".index("cd")
#01234

# length :- 5
# indexing start from 0 and does till 4 (n-1)

s="abcde"
print(s.index("d"))   #index of the position of the substring in the string



print("f" in "india")

if "a" in s:
  print(s.index("a"))
else:
  print("not present")

3
False
0

In [19]:
["1","2","3"]
"1 2 3"

combined_string="/".join(["22","02","2021"])
print(combined_string)

22/02/2021

In [20]:
combined_string.split("/")

['22', '02', '2021']

In [21]:
a="hey my name is rahul"
a=a.split(" ")

In [22]:
" ".join(a)

'hey my name is rahul'

In [23]:
numbers=[1,2,3,4]

def func(n):
  return n*2

result=map(func,numbers)
print(list(result))

[2, 4, 6, 8]

In [24]:
print(bool(""))
print(bool("truth value"))

False
True

In [25]:
a="abcdefg"  
print(a[0])
print(a[2])
print(a[5])
print(a[-1])
print(a[-2])
print(a[2:5])   #start at 2 and go until 5 not included
                #slicing

a
c
f
g
f
cde