<a href="https://colab.research.google.com/github/agamgupta2015/C-Programs/blob/master/python_bootcamp_day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#python flow control

In [3]:
#condition statement
# if else statements

# if condition :
#     statements
# elif condition:
#   statement
# else consition:
#   statement

In [4]:
num=-3
if num>0:    #true
  print(num , "is a positive number")
else :
  print(num, "is a negetive number")

-3 is a negetive number

In [5]:
num=0
 
if num>0:
  print("postive number")
elif num==0:
  print(0)
else:
  print("negetiive number")

0

In [6]:
#nested if else statement
num=5

if num>0 :
  if num>10:
    print("greater than 10")
  else:
    print("less than 10")
else :
  if num<-10:
    print("less than -10")
  else:
    print("greater than -10")

less than 10

In [7]:
# # #python loops
# # 2 types of loops in python
# # for loop and while loop


# for loop

s="string"
for character in s:
  print(character)

s
t
r
i
n
g

In [8]:
a=[1,2,3,4,5]

for num in a:
  print(2*num)

2
4
6
8
10

In [9]:
a=[10,20,30,40,50]
  # 0  1  2  3  4

print(a[0])
print(a[4])

print()

for id,num in enumerate(a):
  print(id, num, sep=' ')

10
50

0 10
1 20
2 30
3 40
4 50

In [10]:
print(list(range(10)))   #range function in python

for i in range(5,21,5):
  print (i)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
5
10
15
20

In [11]:
# # #while statement
# # it is used to iterate over a block of code till the statement is true

#while condition:
#   statement

In [12]:
i=0
a=[1,2,3,4,5]

print(len(a))
print()
sum=0
while i<len(a):
  print(a[i])
  sum=sum+a[i]
  i=i+1


print(sum)

5

1
2
3
4
5
15

In [13]:
#break continue and pass
#break statement if used to break the execution of the for/while loop and come out of the loop


for i in range(10):
  if i==9:
    break
  print(i)


print("break statement executed")

0
1
2
3
4
5
6
7
8
break statement executed

In [14]:
#continue statement is used to trnasfer the execution of the loop to the next iteration . it skips the execution of that particular code if contiue statement is met

for i in range(10):
  if i==5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [15]:
a=[1,2,3,4,5]
for i in a:
  pass

print("pass statement was executed")

pass statement was executed

In [16]:
#print all even numbers in the list
a=[23,56,12,45,90]

for i in a:
  if i%2==0:
    print(i)

56
12
90

In [17]:
#take a num input from the user and print its binary form
# 10 = 1010
# 2=10
# 3=11
# 4=100

n=(int)(input())
print(bin(n))

13
0b1101

In [20]:
num=(int)(input())
s=""

while num>0:
  s=s+(str)(num%2)
  num=num//2

print(s)
print("Binary equal to : " +s[::-1])  #slicing

15
1111
Binary equal to : 1111

In [22]:
# #python functions
# a function is a group of statement that perform a particular type of task
# it is used so thta a particular kind of repetitive task can be performed again and again without rewriting the code

In [21]:
# def function_name(parameter):
#   "doctring"
#   statements


def addition():
  a=10
  b=20
  print(a+b)

In [23]:
addition()

30

In [24]:
def addition(num1,num2):#num1 and num2 are the parameter that are provided by the user
    ''' it takes two numbers as parameter and return the sum  '''
    print(num1+num2)

In [25]:
addition(1,2)
addition(10,23)

3
33

In [26]:
addition.__doc__

' it takes two numbers as parameter and return the sum  '

In [27]:
#user passed parameters and oteher is default parameter

def greet(name,msg="good morning"):
  print(name, msg,sep=" ")

In [28]:
greet("srk")
greet("hello","how are you")

srk good morning
hello how are you